<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

    <body>
        <h1>Connexions</h1>
        <div style="width: 400px;">
            <%= data.from.name %>
                →
                To <%= data.to.name %>
                    <div style="height: 40px;"></div>
                    <% for (let i=0; i < data.connections.length; i++) { %>
                        <%- include('components/connection', {connection: data.connections[i]}) %>
                            <% if(i < data.connections.length - 1) { %>
                                <div style="height: 20px;"></div>
                                <% } %>
                                    <% } %>

        </div>
    </body>

</html>